.services {
  max-width: 1400px;
  margin: 110px auto 150px;
  padding: 0 40px;
}

.services-heading {
  font-family: var(--font-heading);
  font-size: 60px;
  line-height: 1.05;
  font-weight: 500;
  margin-bottom: 80px;
}

.service-row {
  display: grid !important;
  grid-template-columns: 250px 1fr 80px;
  align-items: center;
  min-height: 120px;
  padding: 40px 0;
  border-top: 1px solid #d7d7d7;
}

.service-row:last-child {
  border-bottom: 1px solid #d7d7d7;
}

.service-description {
  font-family: var(--font-body);
  font-size: 21px;
  line-height: 1.36;
  max-width: 170px;
  color: #444;
}

.service-title {
  font-family: var(--font-heading);
  font-size: 62px;
  line-height: 1.08;
  font-weight: 500;
}

.service-arrow {
  font-family: var(--font-body);
  font-size: 2rem;
  font-weight: 500;
  justify-self: end;
  color: var(--purple);
}

@media (max-width: 768px) {
  .service-row {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .service-title {
    font-size: 2rem;
  }

  .service-arrow {
    justify-self: start;
  }
}
